.read-detail
  .read-content
    .content
      font-size 18px
      line-height 1.25em
  .letters
    font-size 72px
    line-height 1.3em
    li
      display inline-block
      margin-right 30px
      cursor pointer
  .index-items
    li
      margin-bottom 10px
    .index-subitems
      margin-left 20px
      display none
      li
        margin-bottom 5px
    .toggled ~ .index-subitems
      display block
    .togglable
      text-decoration underline