.about-wrapper
  hr.decoration
  p.about Pedagogical Index is both document and educational tool. A text in constant motion, Pedagogical Index utilizes the framework of a books index wherein the reader is encouraged to “read between the lines” of given subjects, forming narratives through abstract relations. Africa; Post-Colonial... Alchemy; Di Prima, Diane... Communiques... Energy; Free Ener- gy... Queer Identities... begin to form new meaning when read in proximity to one another.
