.about-wrapper
  p.about Pedagogical Index is both document and pedagogical tool. A text in constant motion, Pedagogical Index utilizes the framework of a book’s index to create a mechanism to read between the lines of given subjects. Create your own, add to existing Indexes, or just browse through a unique research and learning tool powered by the possibility of abstraction. 
