div.indices(ng-controller='IndicesCtrl')
  hr.decoration
  .indices-listing
    ul
      li(ng-repeat='index in indices', ng-class="{'active': activeIndex == index}")
        h3(ng-click='setActiveIndex(index)')
          {{index.title}}&nbsp;&rarr;

  .active-index(ng-show="activeIndex !== null")
    ol.index-listing
      li(ng-repeat='item in activeIndex.items | orderBy: "text"', ng-class="{'active': activeItem == item}") 
        p(ng-click='setActiveItem(item)') {{item.text}}&nbsp;&rarr;
        ol.subindex-listing
          li(ng-repeat='subitem in item.subitems | orderBy')
            p {{subitem}}

  .active-item(ng-show="activeItem !== null")
    ul.url-listing
      li(ng-repeat='link in activeItem.links') 
        a(ng-href="{{link.url}}", target="_blank") {{link.title}}

  .forms
    form#add-index.add-something(ng-submit='addIndex()')
      input(type='text', ng-model='newIndex', placeholder='Add an index title', autofocus)
      input(type='submit', value='+')
    form#add-item.add-something(ng-submit='addItem()', ng-show="activeIndex !== null")
      input(type='text', ng-model='newItem', placeholder='Add an index')
      input(type='submit', value='+')
    form#add-subitem.add-something(ng-submit='addSubItem()', ng-show="activeItem !== null")
      input(type='text', ng-model='newSubItem', placeholder='Add a subindex')
      input(type='submit', value='+')
    form#add-link.add-something(ng-submit='addLink()', ng-show="activeItem !== null")
      input(type='url', ng-model='newLink', placeholder='Add a URL')
      input(type='submit', value='+')