div.indices(ng-controller='IndicesCtrl')
  .go-back-to-indices(ng-click='setIndexPanelInactive()')
  hr.decoration
  .indices-listing
    ul
      li(ng-repeat='index in indices', ng-class="{'active': activeIndex == index}")
        h3(ng-click='setActiveIndex(index)')
          {{index.title}}&nbsp;&rarr;

  .active-index
    .index-controls
      //
        a(ng-repeat="(k, v) in sortedActiveIndex | orderBy: k", ng-click="goToAlpha(k)", class="go-to-alpha") {{k}}
      //
        a.collapse-all(ng-click="collapseActiveIndex()") Collapse
        span /
        a.expand-all(ng-click="expandActiveIndex()") Expand
        span All Letters
    .index-meta
      h3.index-title {{activeIndex.title}}
      .index-description {{activeIndex.description}}
    ol.index-listing(ng-style="sliderWidth")
      li.alpha-listing(ng-repeat="(k, v) in sortedActiveIndex | orderBy:'k'", id="target-{{k}}")
        span {{k.toUpperCase()}}.
        ul(class="letter-listing")
          li(ng-repeat="item in v", ng-class="{'active': activeItem == item}")
            p(ng-click='setActiveItem(item)') {{item.text}}&nbsp;&rarr;
            ol.subindex-listing
              li(ng-repeat='subitem in item.subitems | orderBy')
                p {{subitem}}

  .active-item(ng-show="activeItem !== null")
    ul.url-listing
      li(ng-repeat='link in activeItem.links')
        a(ng-href="{{link.url}}", target="_blank") {{link.title}}

  .forms
    form#add-index.add-something(ng-submit='addIndex()')
      input(type='text', ng-model='newIndex', placeholder='Add an index title', autofocus)
      textarea(ng-model='newIdxDesc', placeholder="Provide a description (optional)")
      input(type='submit', value='add')
    form#add-item.add-something(ng-submit='addItem()')
      input(type='text', ng-model='newItem', placeholder='Add an index')
      input(type='submit', value='add')
    form#add-subitem.add-something(ng-submit='addSubItem()', ng-show="activeItem !== null")
      input(type='text', ng-model='newSubItem', placeholder='Add a subindex')
      input(type='submit', value='add')
    form#add-link.add-something(ng-submit='addLink()', ng-show="activeItem !== null")
      input(type='url', ng-model='newLink', placeholder='Add a URL')
      input(type='submit', value='add')