div.indices(ng-controller='IndicesCtrl')
  hr.decoration
  .forms
    form#add-index.add-something(ng-submit='addIndex()')
      input(type='text', ng-model='newIndex', placeholder='Add an index title', autofocus)
      textarea(ng-model='newIdxDesc', placeholder="Provide a description (optional)")
      input(type='submit', value='add')
    form#add-item.add-something(ng-submit='addItem()')
      input(type='text', ng-model='newItem', placeholder='Add an index')
      input(type='submit', value='add')
    form#add-subitem.add-something(ng-submit='addSubItem()', ng-show="activeItem !== null")
      input(type='text', ng-model='newSubItem', placeholder='Add a subindex')
      input(type='submit', value='add')
    form#add-link.add-something(ng-submit='addLink()', ng-show="activeItem !== null")
      input(type='url', ng-model='newLink', placeholder='Add a URL')
      input(type='submit', value='add')