// Vendor is for vendor files. Usually referencing
// a bower repository.

// Nib Mixins
@import "nib"

global-reset()
reset-html5()

//Really slow way to reset box-sizing hope this will change in the future.
*, *:before, *:after
  box-sizing border-box
