// Vendor
@import "_vendor.styl";
// Modules
@import "modules/_mixins.styl";

// Components
@import "components/_typography.styl";
@import "components/_layout.styl";
@import "components/_buttons.styl";


body
  font-family 'Vollkorn'
  font-size 22px
  line-height 1.26em

h1,h2,h3,p,a
  word-wrap break-word

h1,h2,h3
  font-family 'Old Standard TT'
  font-size 36px
  line-height 1.3em
  text-transform uppercase

h3
  font-size 33px
  line-height 1.3em

a
  text-decoration none
  color #0000ff
  &:hover
    border-bottom 1px solid currentColor
    color #4CAF50

button
  cursor pointer

[ng-click]
  cursor pointer
  &:hover
    color #4CAF50

.active
[ng-click]:hover.active
  color #4CAF50

input[type=text],
input[type=url],
textarea
  border 1px solid #000
  padding 5px 10px
  &:focus
    outline none

input[type=submit]
  background #fff
  border none

html,
body,
main,
main > div
  height 100%
  width 100%

#main-nav
  position fixed
  left 10px
  top 0
  padding-top 10px
  li
    float left
    margin-right 5px
    &:last-child:before
      content "/"
      margin-right 5px

.decoration
  border 0
  background-color #000
  height 3px
  position fixed
  top 50px
  left 0
  width 100%
  margin 0
  z-index 101

.indices
  .indices-listing,
  .active-index,
  .active-item
    position fixed
    left 0
    top 0
    height 100%
    padding 80px 20px 40px
    width 33.3333%
    border-right 3px solid #000
    overflow-y scroll
  .active-index
    left 33.3333%
  .active-item
    border-right 0 none
    left 66.6666%


.active-index
  .index-title
    padding-bottom 10px
    line-height 1.33em
  .index-description
    border-bottom 1px solid #000
    padding-bottom 30px
    margin-bottom 10px


.add-something
  position fixed
  bottom 0
  left 0
  background #fff
  padding-bottom 20px
  width 33.33333%
  border-right 3px solid #000
  input[type=text],
  input[type=url],
  textarea
    font-family 'Old Standard TT'
    width 100%
    border 0 none
    border-bottom 2px solid #000
    font-size 22px
    padding 20px
    left 0
    &.ng-invalid
      border-bottom-color red
      ~ input[type=submit]
        color red
        border-color red
  input[type=submit]
    position absolute
    right 5px
    top 46%
    transform translateY(-50%)
    font-size 12px
    border 3px solid black
    width 50px
    height 50px
    border-radius 50px

#add-index
  padding-bottom 12px
  input[type=submit]
    top auto
    bottom 2%

.add-something
  &#add-item,
  &#add-subitem
    left 33.333%
  &#add-subitem
    bottom 74px
  &#add-link
    left 66.66666%
    border-right 0 none

.index-controls
  position absolute
  top 10px
  left 0
  width 100%
  padding 0 20px
  > *
    float left
    margin-right 5px
  > .go-to-alpha
    display block
    padding 5px .33%
    text-transform uppercase


.index-listing
  overflow auto
  padding-top 30px
  height 60%
  position relative
  .alpha-listing
    width 345px
    float left
    height 100%
    overflow auto
    border-right 2px solid #ccc
    padding-left 35px
    padding-right 10px
    > span
      display block
      margin-bottom 5px
    .letter-listing
      margin-bottom 5px

.letter-listing
  margin-left 1em

.subindex-listing
  margin-left 2.5em
  font-size .8em
  list-style upper-latin

.url-listing
  list-style square
  margin-left 1em

.go-back-to-indices
  width 33%
  position fixed
  left 0
  top 0
  height 100%
  background-color #000
  position relative
  &:after
    content '>'
    display block
    position absolute
    color #fff
    transform translate(-50%, -50%)
    top 50%
    left 50%

#main-nav
  transition opacity 333ms linear 666ms
  opacity 1

.indices
  .go-back-to-indices
    transition opacity 333ms linear, width 333ms linear 300ms
    opacity 0
    z-index 1
  .indices-listing
  #add-index
    transition width 333ms linear 111ms
    opacity 1
    z-index 11
  .active-index
  #add-item
  #add-subitem
    transition left 333ms linear 300ms, width 333ms linear 300ms
    opacity 0
  .index-meta
  .index-listing
  .index-controls
    opacity 0
    transition opacity 333ms linear 777ms

.index-panel-active.item-panel-active #main-nav
  opacity 0
  pointer-events none
  transition opacity 333ms linear

/*
.index-panel-active.item-panel-active .indices
  .go-back-to-indices
    opacity 1
    width 5%
    z-index 101
    transition opacity 333ms linear, width 333ms linear 111ms
  .indices-listing
  #add-index
    opacity 0
    width 5%
    transition  width 333ms linear 111ms
  .active-index
  #add-item
  #add-subitem
    width 61.66666%
    left 5%
    transition left 333ms linear 111ms, width 333ms linear 111ms
*/

.item-panel-active
  #main-nav
    transition opacity 333ms linear 777ms
    pointer-events auto
  .active-index
  #add-item
  #add-subitem
  .index-meta
  .index-listing
  .index-controls
    opacity 1
  .go-back-to-indices
      transition opacity 333ms linear 333ms, width 333ms linear 300ms
  .indices
    .indices-listing
    #add-index
      transition opacity 333ms linear 777ms, width 333ms linear 300ms

.about-wrapper
  padding 60px 100px
  font-size 48px
  line-height 1.3em

// Partials
@import "partials/_partial1.styl";

// For SHAME
@import "_shame.styl";
